.header {
  height: 20vh;
  background-color: var(--colour-darkest-blue);
  color: var(--colour-white);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}
