.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 23vh;
  background-color: var(--colour-darkest-blue);
  color: var(--colour-white);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  max-width: 768px;
}
