@import "tailwindcss";

:root {
  --colour-white: #f8f9fa;
  --colour-mint-green: #94d1be;
  --colour-darker-green: #339989;
  --colour-blue: #1f7a8c;
  --colour-navy: #2b3b50;
  --colour-darkest-blue: #191e24;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--colour-white);
  color: var(--colour-darkest-blue);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  padding: 2rem;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem 0;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.3rem;
  padding: 0.5rem 0;
  text-align: center;
}

@media (min-width: 425px) {
  section {
    padding: 2rem 4rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }
}
