.about_section {
  background-color: var(--colour-white);
  color: var(--colour-darkest-blue);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about_text {
  margin: 2rem 0;
  width: 50vw;
  text-align: center;
}

.profile_img {
  margin: auto;
  border-radius: 20%;
  border: var(--colour-darkest-blue) 3px solid;
  min-height: 30vh;
  max-height: 40vh;
  width: auto;
}

.stack_section {
  background-color: var(--colour-darkest-blue);
  color: var(--colour-white);
}

.stack_grid {
  display: grid;
  grid-template-columns: auto;
}

.projects_section {
  color: var(--colour-darkest-blue);
}
