.about_section {
  background-color: var(--colour-white);
  color: var(--colour-darkest-blue);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  align-content: space-around;
  column-gap: 20px;
}

.about_text {
  max-width: 30rem;
  text-wrap: wrap;
}

.profile_img {
  border-radius: 20%;
  border: var(--colour-darkest-blue) 3px solid;
  min-height: 10rem;
  max-height: 12rem;
  width: auto;
}

.stack_section {
  background-color: var(--colour-darkest-blue);
  color: var(--colour-white);
  margin: 0;
  padding: 0 4rem;
}

.stack_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 2rem;
  place-items: center;
}

.projects_section {
  color: var(--colour-darkest-blue);
}

@media (min-width: 425px) {
  .about_section {
    justify-items: left;
  }
}
